body{
    background-image:url("https://assets-global.website-files.com/608283c9cb8d6dd68ce88104/61b3377d0fcae11f6bf02ebe_Customer%20Feedback%20Management.png");
}

.feedback{
   background-color:black;
   padding:10px;
   margin:10px;
}

a{
  color:white;
  text-decoration:none;
}

*{
  font-size:20;
}

h1{
   text-align:center;
   color:red;
   font-family: Georgia,serif;
   font-size:xx-large;
}

h2{
   color:green;
   font-family: Georgia,serif;
   text-align:center;
}

input{
   margin-left:100;
}

form{
   background-color:white;
   margin-left:350;
   margin-right:350;
}

.btn{
   margin-left:200;
   color:white;
   background-color:red;
}

.field{
   margin-left:50;
}

.yes{
    background-color:white;
}

